TYPE= # Storage Type. Fill with "firebase" or "local"

# Firebase Config
FB_STORAGE_BUCKET= foo.appspot.com # Firebase Storage Bucket address
# You can use fields below instead firebase.json
FB_TYPE=
FB_PROJECT_ID=
FB_PRIVATE_KEY_ID=
FB_PRIVATE_KEY=
FB_CLIENT_EMAIL=
FB_AUTH_URI=
FB_TOKEN_URI=
FB_AUTH_PROVIDER_CERT_URL=
FB_CLIENT_CERT_URL=

# Authentication
KEY= # For generate access token [optional]
TOKEN= # Access Token [optional] (this required if you use docker)

